body {
  background-color: white;
  color: black;
}

.text-form {
  resize: none;
}

#forms {
  display: flex;
}

.complement-button {
  margin: 32px 4px auto 4px;
  position: relative;
}
.complement-button .updated-tip {
  position: absolute;
  background-color: orange;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: -4px;
  right: -4px;
  border: solid white 1px;
}

.copy-button,
.clear-button {
  height: 32px;
}

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
}
